<nav>
    <a routerLink="" [routerLinkActiveOptions]= "{exact: true}" routerLinkActive="active">
        <i class="fas fa-signal fa-2x"></i>
        Stat
    </a>
    <a routerLink="chart" routerLinkActive="active">
        <i class="fas fa-chart-pie  fa-2x"></i>
        Charts
    </a>
    <a routerLink="map" routerLinkActive="active">
        <i class="fas fa-map-marked-alt  fa-2x"></i>
        Map
    </a>
    <a routerLink="news" routerLinkActive="active">
        <i class="far fa-newspaper  fa-2x"></i>
        News
    </a>
    <a routerLink="around" routerLinkActive="active">
        <i class="fas fa-globe-africa  fa-2x"></i>
        Around
    </a>
    <a routerLink="infos" routerLinkActive="active">
        <i class="fas fa-info-circle  fa-2x"></i>
        Infos
    </a>
</nav>