<h1>Politique de confidentialité</h1>

<div>
    <p>Politique de confidentialité d'1km</p>

    <h5>Type de donnée collectée</h5>

    <p>
        Cette application ne collecte pas directement vos données, seulement l'analytique et la pub fournis par Google
        collecte des informations."
    </p>

    <h5>Advertising and Analytics</h5>

    <p>
        Cette application utilise Admob pour la publicité, et Firebase pour l'analytique. <br />
        Fvous pouvez consulter leur politique de confidentialité ici : <a href="policies.google.com/privacy"
            target="_blank">Google politique de confidentialité</a>.
    </p>

    <h5>Changement sur cette politique de confidentialité</h5>

    <p>
        Cette politique de confidentialité peut être modifié à tout moment sans en notifier l'utilisateur, je vous
        conseille de vérifier cette page régulièrement, la date de dernière mise à jour est noté en bas de page.
    </p>

    <h5>Nous contacter</h5>

    <p>
        Si vous avez la moindre question à propos de notre politique de confidentialité, vous pouvez nous contacter à
        cette adresse <img src="/assets/contact.png" />
    </p>

    <p>Dernière édition le 2020-03-28.</p>
</div>