<div>
  <div style="display: flex;flex-direction: column;align-items: center;font-size: 25px;">
    <span style="font-size: 18px;"><span>Date : </span><span style="color: brown;"
        class="first">{{ item.date | date: 'yyyy-MM-dd' }}</span></span>
    <span style="font-size: 18px;">Cases : </span><span style="color: orange; font-weight: bold;"
      class="first">{{cases }} <span *ngIf="casesAdd">(+{{casesAdd}})</span></span>
    <span style="font-size: 18px;">Recovered : </span><span style="color: green;font-weight: bold;"
      class="first">{{recovered}} <span *ngIf="recoveredAdd">(+{{recoveredAdd}})</span></span>
    <span style="font-size: 18px;">Deaths : </span> <span style="color: red;font-weight: bold;" class="first">{{deaths}}
      <span *ngIf="deathsAdd">(+{{deathsAdd}})</span></span>
  </div>
  <div *ngIf="item && item.series" style="margin:10px 0px;display: flex;flex-direction: row; flex-wrap: wrap;">
    <input style="max-width: 300px;" type="text" class="form-control" [(ngModel)]="country"
      (ngModelChange)="search($event)" placeholder="Search country ...">
    <button style="margin-left:20px" type="button" (click)="clear()" class="btn btn-primary">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="sticky-table">
    <table class="table-covid">
      <thead style="cursor: pointer;">
        <th (click)="filter('country')">
          <span class="flex-container">
            <span>Country</span>
            <span class="sort" [ngClass]="getSorted('country')">
              <i class="fas fa-angle-up"></i>
              <i class="fas fa-angle-down"></i></span>
          </span>
        </th>
        <th (click)="filter('confirmed')">
          <span class="flex-container">
            <span>Case</span>
            <span class="sort" [ngClass]="getSorted('confirmed')">
              <i class="fas fa-angle-up"></i>
              <i class="fas fa-angle-down"></i>
            </span> </span>
        </th>
        <th (click)="filter('recovered')">
          <span class="flex-container">
            <span>Recovered</span>
            <span class="sort" [ngClass]="getSorted('recovered')">
              <i class="fas fa-angle-up"></i>
              <i class="fas fa-angle-down"></i>
            </span> </span>
        </th>
        <th (click)="filter('deaths')">
          <span class="flex-container">
            <span>Deaths</span>
            <span class="sort" [ngClass]="getSorted('deaths')">
              <i class="fas fa-angle-up"></i>
              <i class="fas fa-angle-down"></i>
            </span> </span>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let person of datas">
          <td>{{person.country}}<span *ngIf="person.province"> {{person.province}}</span></td>
          <td>{{person.confirmed}}<span *ngIf="person.confirmedAdd"> (+{{person.confirmedAdd}})</span></td>
          <td>{{person.recovered}}<span *ngIf="person.recoveredAdd"> (+{{person.recoveredAdd}})</span></td>
          <td>{{person.deaths}}<span *ngIf="person.deathsAdd"> (+{{person.deathsAdd}})</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>