<nav class="navbar navbar-dark  mb-1" style="background-color: #006968;">
    <a class="navbar-brand" routerLink="stat">
        <img height="25" width="25" src="assets/logo.png" />
        Covid Tracker</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a routerLink="" [routerLinkActiveOptions]= "{exact: true}" routerLinkActive="active" class="nav-item nav-link">
                <i class="fas fa-signal"></i>
                Stat
            </a>
            <a routerLink="chart" routerLinkActive="active" class="nav-item nav-link">
                <i class="fas fa-chart-pie"></i>
                Charts
            </a>
            <a routerLink="map" routerLinkActive="active" class="nav-item nav-link">
                <i class="fas fa-map-marked-alt"></i>
                Map
            </a>
            <a routerLink="news" routerLinkActive="active" class="nav-item nav-link">
                <i class="far fa-newspaper"></i>
                News
            </a>
            <a routerLink="around" routerLinkActive="active" class="nav-item nav-link">
                <i class="fas fa-globe-africa"></i>
                Around
            </a>
            <a routerLink="infos" routerLinkActive="active" class="nav-item nav-link">
                <i class="fas fa-info-circle"></i>
                Infos
            </a>
        </div>
    </div>
</nav>