<h1>Preventing</h1>

<ul>
    <li>
        Wash your hands often with soap and water for at
        least 20 seconds, especially after going to the
        bathroom; before eating; and after blowing your
        nose, coughing, or sneezing.
    </li>
    <li>
        If soap and water are not readily available, use an
        alcohol-based hand sanitizer with at least 60%
        alcohol.
    </li>
    <li>
        Cover your cough or sneeze with a tissue, then throw the tissue in the
        trash.
    </li>
    <li> Avoid touching your eyes, nose, and mouth.</li>
    <li>
        Clean and disinfect frequently touched objects and surfaces using a
        regular household cleaning spray or wipe.
    </li>
    <li>
        Stay home when you are sick.
    </li>
</ul>

<p>
    If you have a fever, cough, shortness of
    breath or other cold & flu like symptoms,
    contact your healthcare provider.
</p>

<p>
    Before you go to a medical facility, call
    ahead and tell them about your symptoms
    so appropriate steps can be taken to
    protect you and others.
</p>

<h1>Credits</h1>

<ul>
    <li>Site created by BE Technology you can contact us at <img src="/assets/contact.png" /></li>
    <li>Data source : <a href="https://bnonews.com/"><b>BNO News</b></a> and <a
            href="https://systems.jhu.edu/research/public-health/ncov/"><b>John Hopkins University</b></a></li>
    <li>Icons creative commons attribution licence : <a
            href="https://commons.wikimedia.org/wiki/File:3D_medical_animation_coronavirus_structure.jpg"><b>Wikimedia</b></a>
    </li>
</ul>

<h1>Privacy policy</h1>
<div>
    <h5>Types of Data collected</h5>

    <p>
        This application does not collect directly any Personal Data, only advertising and analytics provided by Google
        collect informations.
    </p>

    <h5>Advertising and Analytics</h5>

    <p>
        <!-- For mobile : This application uses Admob as its advertising, and Firebase for analytics, you can consult policy 
        here : policies.google.com/privacy <br />-->
        For web : This application uses <a href="policies.google.com/privacy"
            target="_blank">Google Analytics</a> for analytics.
    </p>

    <h5>Changes to this privacy policy</h5>

    <p>
        This privacy policy can be updated or modified without notifying the users. It is recommended to check this page
        often, referring to the date of the last modification listed at the bottom.
    </p>

    <p>Last Edited on 2020-03-25.</p>
</div>