<header>
    <app-header></app-header>
</header>
<div class="content">
    <div style="text-align: center;">
        <iframe
            src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=288&l=ez&f=ifr&linkID=5f91ffb3a3cafdc0e227a8cb840af9d2&t=covid1902a-21&tracking_id=covid1902a-21"
            width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;"
            frameborder="0"></iframe>
    </div>
    <ng-content></ng-content>
</div>
<footer>
    <app-footer></app-footer>
</footer>